{% extends nglayouts.layoutTemplate %}

{% block body %}
    <div class="hero-wrapper">
        <h1 class="header">Bark & Bake</h1>
        <p class="text-center">Doggone Good Treat & Meal Recipes</p>
        <div class="d-flex justify-content-center">
            <img src="{{ asset('images/dog-bone.png') }}" width="auto" height="50" alt="dog bone icon">
        </div>
    </div>

    <div class="container">
        <h2 class="text-center my-5">Latest Recipes</h2>
        <div class="row">
            <div class="col-3">
                <div class="text-center recipe-container p-3">
                    <div class="p-3 entity-img">
                        <img src="{{ asset('images/pup-cup.png') }}" width="auto" height="115" alt="carrot image">
                    </div>
                    <h3 class="mt-3">Vegetables & Rice</h3>
                    <small>1 hour (prep & cook)</small>
                </div>
            </div>
            <div class="col-3">
                <div class="text-center recipe-container p-3">
                    <div class="p-3 entity-img">
                        <img src="{{ asset('images/pup-cup.png') }}" width="auto" height="115" alt="egg image">
                    </div>
                    <h3 class="mt-3">Egg Protein Dinner</h3>
                    <small>2 hour (prep & cook)</small>
                </div>
            </div>
            <div class="col-3">
                <div class="text-center recipe-container p-3">
                    <div class="p-3 entity-img">
                        <img src="{{ asset('images/pup-cup.png') }}" width="auto" height="115" alt="cake image">
                    </div>
                    <h3 class="mt-3">Doggo Birthday Cake</h3>
                    <small>6 hours (prep & cook)</small>
                </div>
            </div>
            <div class="col-3">
                <div class="text-center recipe-container p-3">
                    <div class="p-3 entity-img">
                        <img src="{{ asset('images/pup-cup.png') }}" width="auto" height="115" alt="pup cup image">
                    </div>
                    <h3 class="mt-3">Pumpkin Pup Cup</h3>
                    <small>.5 hour (prep & cook)</small>
                </div>
            </div>
        </div>
        <div class="text-center mt-5 text-underline"><u><a href="#">Show More</a></u></div>
    </div>

    <div class="text-center pt-4 pb-5 my-4" style="background-color: #fdedf0;">
        <h2>Subscribe</h2>
        <p class="mb-4">Dog Food Cooking Made Easy</p>

        {{ component('subscribe_newsletter') }}
    </div>

    <div class="container py-4 my-5">
        <h2 class="text-center mb-4">Featured Techniques</h2>
        <div class="row my-5">
            <div class="col-3 offset-3">
                <div class="text-center entity-container p-3">
                    <h3>Basic Chop</h3>
                    <div class="p-3 mt-3 entity-img">
                        <img src="{{ asset('images/pup-cup.png') }}" width="auto" height="80" alt="chop skill image">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="text-center entity-container p-3">
                    <h3>Folding in Cheese</h3>
                    <div class="p-3 mt-3 entity-img">
                        <img src="{{ asset('images/pup-cup.png') }}" width="auto" height="80" alt="grater skill image">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3 text-underline"><u><a href="#">Show More</a></u></div>
    </div>
{% endblock %}
