{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>{{ recipe.name }}</h1>
    <p>{{ recipe.subText }}</p>

    <img src="{{asset(recipe.imageUrl)}}" width="auto" height="115" alt="{{ recipe.name }} image">


    <h3>INGREDIENTS</h3>

    <ul>
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <h3>INSTRUCTIONS</h3>

    <ul>
        {% for instruction in recipe.instructions %}
            <li>{{ instruction }}</li>
        {% endfor %}
    </ul>

    <p>recipe from:
        <u><a href="{{ recipe.sourceUrl }}">{{ recipe.sourceUrl }}</a></u>
    </p>
</div>
{% endblock %}
